@model IEnumerable<BankCP.Models.Cards.DebitCard>
@{
    ViewData["Title"] = "Debit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        @Html.ActionLink("Создать", "Create", "DebitCard")
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id дебетовой карты</th>
                <th scope="col">Id дебетового счёта</th>
                <th scope="col">Id клиента</th>
                <th scope="col">Номер карты</th>
                <th scope="col">CVC/CVV</th>
                <th scope="col">Дата окончания</th>
                <th scope="col">Дата выпуска</th>
                <th scope="col">Дата закрытия</th>
                <th scope="col">-</th>
                <th scope="col">-</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var card in Model)
            {
                <tr>
                    <th>@card.DebitCardId</th>
                    <td>@card.DebitAccountId</td>
                    <td>@card.ClientId</td>
                    <td>@card.CardNumber</td>
                    <td>@card.CardVerification</td>
                    <td>@card.ExpirationDate</td>
                    <td>@card.CreationDate</td>
                    <td>@card.ClosingDate</td>
                    <td>@Html.ActionLink("Удалить", "Delete", "DebitCard",  new { id = card.DebitCardId })</td>
                    <td>@Html.ActionLink("Изменить", "Edit", "DebitCard",  new { id = card.DebitCardId })</td>
                </tr>
            }
        </tbody>
    </table>

