@model BankCP.Models.Cards.CreditCard

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CreditCard</h4>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        @using (Html.BeginForm("Add", "CreditCard", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="CreditCardId" value="@Model.CreditCardId" />
            <input type="hidden" name="CreditAccountId" value="@Model.CreditAccountId">
            <div class="form-group">
                <label for="ClientId" class="control-label"></label>
                <input name="ClientId" class="form-control" value="@Model.ClientId">
            </div>
            <div class="form-group">
                <label for="CardNumber" class="control-label"></label>
                <input name="CardNumber" class="form-control" value="@Model.CardNumber" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CardVerification" class="control-label"></label>
                <input name="CardVerification" class="form-control" value="@Model.CardVerification" />
                <span asp-validation-for="CardVerification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ExpirationDate" class="control-label"></label>
                <input name="ExpirationDate" class="form-control" value="@Model.ExpirationDate" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CreationDate" class="control-label"></label>
                <input name="CreationDate" class="form-control" value="@Model.CreationDate" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ClosingDate" class="control-label"></label>
                <input name="ClosingDate" class="form-control" value="@Model.ClosingDate" />
                <span asp-validation-for="ClosingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Назад", "List", "CreditCard")
</div>

