@model BankCP.Models.Accounts.FixedDeposit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>FixedDeposit</h4>
<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        @using (Html.BeginForm("Edit", "FixedDeposit", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="TermDepositId" value="@Model.TermDepositId" />
            <input type="hidden" name="ClientId" value="@Model.ClientId" />
            <div class="form-group">
                <label for="AccountNumber" class="control-label">Номер счета</label>
                <input name="AccountNumber" class="form-control" value="@Model.AccountNumber" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Balance" class="control-label">Баланс</label>
                <input name="Balance" class="form-control" value="@Model.Balance" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="InterestRate" class="control-label">Процентная ставка</label>
                <input name="InterestRate" class="form-control" value="@Model.InterestRate" />
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="MinDeposit" class="control-label">Минимальный взнос</label>
                <input name="MinDeposit" class="form-control" value="@Model.MinDeposit" />
                <span asp-validation-for="MinDeposit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="MaxDeposit" class="control-label">Максимальный взнос</label>
                <input name="MaxDeposit" class="form-control" value="@Model.MaxDeposit" />
                <span asp-validation-for="MaxDeposit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="MinWithdrawal" class="control-label">Минимальный вывод</label>
                <input name="MinWithdrawal" class="form-control" value="@Model.MinWithdrawal" />
                <span asp-validation-for="MinWithdrawal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="MaxWithdrawal" class="control-label">Максимальный вывод</label>
                <input name="MaxWithdrawal" class="form-control" value="@Model.MaxWithdrawal" />
                <span asp-validation-for="MaxWithdrawal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CurrencyCode" class="control-label">Код валюты</label>
                <input name="CurrencyCode" class="form-control" value="@Model.CurrencyCode" />
                <span asp-validation-for="CurrencyCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CreationDate" class="control-label">Дата создания</label>
                <input name="CreationDate" class="form-control" value="@Model.CreationDate" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ClosingDate" class="control-label">Дата закрытия</label>
                <input name="ClosingDate" class="form-control" value="@Model.ClosingDate" />
                <span asp-validation-for="ClosingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Назад", "List", "FixedDeposit")
</div>

